.voting{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    padding: 4%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border-radius: 10px;
}

.votingHeader{
    padding: 10px;
    font-size: xx-large;
    border-radius: 3px;
    color: #000000;
}

.ranking{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    white-space: nowrap;
}

.proRankingChild{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 4%;
    width: 100%;
    overflow: visible;
    background-color:  rgba(107, 160, 75,0.3);
    white-space: nowrap;
}

.conRankingChild{
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 100%;
    overflow: visible;
    background-color:  rgba(240, 128, 128,0.3);
}

.votingPointsParent{
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 3px;
}

.votingPoints{
    padding: 2px;
    border-radius: 3px;
    color: #000000;
}

.votingPoints.pro{
    color:  rgb(45, 66, 32);
}

.votingPoints.con{
    color:  rgb(68, 36, 36);
}

