.vs{
    background-image: url("vs.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 90%;
    background-position: center;
    width: 70%;
    opacity: 85%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}

.vsCon{
    display: flex;
    flex-flow: column;
    height: 100%;
    font-size: xx-large;
    position: relative;
    justify-content: center;
}

.vsPro{
    display: flex;
    flex-flow: column;
    height: 100%;
    font-size: xx-large;
    position: relative;
    justify-content: center;
}

.vsBackButton{
    background-image: url("arrow_back_24px.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 26%;
    top: 5%;
    border: 0;
    width: 30px;
    height: 30px;
    background-color: #00000000;
}

.vsBackButton:hover{
    filter: invert();
    background-color: black;
}