.vs{
    color: white;
    background-image: url(vs.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 5%;
    width: 90%;
    text-shadow: 2px 2px 20px #000000;
}

.vsInner{
    display: flex;
    flex-flow: column;
    font-size: xx-large;
    position: relative;
    justify-content: space-around;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.vsBackButton{
    background-image: url("arrow_back_24px.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 2%;
    border: 0;
    width: 30px;
    height: 30px;
    background-color: #00000000;
}

.vsBackButton:hover{
    filter: invert();
    background-color: black;
}

.vs > div{
    margin: 5%;
}




@media only screen and (max-width: 768px) {
    .vs > div{
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .vs{
        flex-direction: column;
        height: 90%;
        background-image: url(vsvertical.svg);
    }
}