body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

input{
  border-radius: 15px;
  border: 0;
}

input[type=number]{
  max-width: 40px;
  border-radius: 15px 0 0 15px;
}

textarea{
  width: 100%;
}

button{
  border-radius: 5px;
  border: 0;
  padding: 5px;
  margin: 5px;
}

button:hover{
  background-color: darkcyan;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  margin: auto;
}

@media only screen and (min-width: 300px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  
.container{
  margin: auto;
  float: none;
  width: 100%;
}
}

@media only screen and (min-width: 800px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

}

@media only screen and (min-width: 1400px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}

@media only screen and (min-width: 1600px) {
  .container{
    width: 70%;
  }
}

.header{
  font-weight: bold;
  border-style: solid;
  background-color: #333333!important;
  border-radius: 5px;
  padding: 2px 20px 2px 20px;
  margin: auto;
  display: inline;
}

h1{
  font-size: large;
  margin: auto;
  padding: 3px;
  color: #333333;
  background-color: white;
  box-shadow: -4px -4px 20px #606060a8;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.listelement{
  display: inline-block;
  background-color: white;
  border-radius: 3px;
  color: #333333;
  padding: 5px;
  margin: 5px;
}

.desc{
  background-color: gray;
  border-radius: 3px;
  color: white;
  padding: 5px;
  margin-top: 5px!important;
  float: none!important;
  text-align: left;
}

.chat{
  background-color: gray;
  border-radius: 3px;
  padding: 5px;
  min-width: 100%;
  height: 40%;
  overflow-y: scroll;
}

.chatname{
  font-weight: bold;
  font-size: small;
  margin: 0;
  padding: 0;
  display: block;
}

.chatname.pro{
  color: darkcyan;
}


.message{
  background-color: lightblue;
  border-radius: 0px 7px 7px 7px;
  width:auto;
  max-width: 100%;
  text-align: left;
  padding: 5px 40px 5px 10px;
  margin: 5px;
  color: #333333;
  margin-right: auto;
  width: max-content;
}

.mymessage{
  background-color: #333333;
  border-radius: 7px 7px 0px 7px;
  max-width: 100%;
  text-align: right;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  margin-left: auto;
  width:max-content;
}

.pro{
  background-color: lightblue;
  border-color: lightblue;
}

.con{
  background-color: lightcoral;
  border-color: lightcoral;
}

.playerlist{
  height: 100%;
  background-color: gray;
}

.image{
  max-width: 100%;
}

